<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
        <style>
        body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 70vh;
            margin: 0;
        }
        h1 {font-size: 3.75rem;}
        p {font-size: 1.5rem;}
    </style>
    <title>Travel app</title>
</head>
<body>
    <h1>SensCity</h1>
    <img src="\images\SCLogo.png" alt="City" width="210" height="189">
    <p>"At SensCity, we curate personalized travel recommendations, highlighting popular destinations aligned 
        with the cities you intend to explore."</p>
        <a href="/login">Login</a>
    <a href="/signup">Signup</a>
</body>
</html>