<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel app</title>
</head>
<body>
    <h1>SensCity</h1>
    <p>"At SensCity, we curate personalized travel recommendations, highlighting popular destinations aligned 
        with the cities you intend to explore."</p>

    <img src="\images\SenscityPic.jpeg" alt="City" width="500" height="333">
</body>
</html>