<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
        <style>
        body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 70vh;
            margin: 0;
        }
    </style>
    <title>Travel app</title>
</head>
<body>
    <h1>SensCity</h1>
    <img src="\images\SCLogo.png" alt="City" width="100" height="90">
    <p>"At SensCity, we curate personalized travel recommendations, highlighting popular destinations aligned 
        with the cities you intend to explore."</p>
</body>
</html>