<!DOCTYPE html>
<html lang="en">
<<<<<<< HEAD
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <title>Signup</title>
</head>
<body>
    <div class="container">
        <h2>Signup Page</h2>
    <form action="/signup" method = "post">
        <label for="username">Username:</label>
        <input type = "text" id = "Username" name = "password" required>
        <br>
        <label for="password">Password</label>
        <input type = "password" id = "password" name = "password" required>
        <br>
        <button type = "Signup">Signup</button>
    </form>
    </div>
</body>
</html>
=======
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signup</title>
  </head>
  <body>
    <h2>Signup Page</h2>
    <form action="/signup" method="POST">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" />
      <br />
      <label for="password">Password</label>
      <input type="password" id="password" name="password" />
      <br />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
>>>>>>> f1a18fd (connect db, and sign up form sends data to db)
