<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <title>Signup</title>
</head>
<body>
  <div class="container">
    <h2>Sign Up Page</h2>
    <form action="/signup" method="POST">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" placeholder="Username"/>
      <br />
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" placeholder="Password"/>
      <br />
      <input type="submit" value="Submit" />
    </form>
  </div>
</html>
  
    
