<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Users</title>
  </head>
  <body>
    <%if(user.length>0){%>
    <table>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
      </tr>
      <%user.forEach(function(user){%>
      <tr>
        <td><%=user.id%>%></td>
        <td><%=user.name%></td>
        <td><%=user.email%></td>
        <td><%=user.phone%></td>
      </tr>
      <%});%>
    </table>
  </body>
</html>
